# Virtual environment
venv/
env/

# Byte-compiled / cached files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Django migrations
/phishing/migrations/
/dphish_project/__pycache__/
/phishing/__pycache__/


# SQLite temporary files
*.sqlite3-wal
*.sqlite3-shm

# Logs
*.log
logs/
debug.log

# Static and media files (if applicable)
staticfiles/
media/

# IDE / Editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Python dependency files
Pipfile
Pipfile.lock

# Compiled files
*.so
*.o
*.a
